.header {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/image-faes.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s ease;
  z-index: 1000;
}

/* .header--shift {
   transform: translateX(100%);
 } */

.header__title {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 140%;
  border: 1px solid red;
}

.header_bottom {
  padding: 0 20px 40px;
}

.logo--N {
  display: block;
  background-image: url(../images/logo-N.svg);
  height: 16px;
  width: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-bar--header {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar--menu {
  box-sizing: border-box;
  padding: 20px 24px;
  height: 100vh;
  background-color: rgba(229, 230, 232, 1);
  font-weight: 700;
}

.menu__top {
  margin-bottom: 32px;
}
