
.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone-call {
  background-image: url(../images/icon-phone-call.svg);
}

.icon--phone-call--active {
  transform: scale(1.2);
  color: #04836a;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon--burger-menu {
  background-image: url(../images/icon-burger-menu.svg);
}

.icon--close {
  background-image: url(../images/icon-close.svg);
}

.icon-burger-menu-hover {
  background-image: url(../images/icon-burger-menu-hover.svg);
}
