$font-main: 'Space Grotesk', sans-serif;
$font-size-link: 22px;
$font-size-heading: 36px;
$font-size-subheading: 32px;
$font-size-caption: 18px;
$color-dark: rgba(41, 41, 41, 1);
$color-light: rgba(255, 255, 255, 1);
